/* PAGE */

/*

colour pallate: http://www.colourlovers.com/palette/3205166/Firestarter

light blue - 177B9F
medium blue - 175772
dark blue - 103A52
red/orange - FF5934
toape? - FAE7C7

*/

/* 
html,
body,
#root,
.App,
.container {
  height: 100%;
} */

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
}

body,
.pure-g [class*=pure-u] {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  /* margin: .33em 0 0.33em; */
  color: #175772;
}

.container {
  box-sizing: border-box;
  padding: 48px 1em 1em 1em;
  height: 100%;
}

.container a {
  border-bottom: dashed 2px #FF5934;
  text-decoration: none;
  color: #103a52;
  padding-bottom: 1px;
  line-height: 1.4em;
}

/*Buttons*/

a.pure-button-primary,
.pure-button-primary {
  background-color: #FF5934;
}

a.pure-button-primary:hover,
.pure-button-primary:hover {
  background-color: #FF5934;
}

a.pure-link-primary {
  color: #DDDDDD;
}

a.pure-link-primary:visited {
  color: #FF5934;
}

.pure-button-success {
  color: white;
  background-color: #FF5934;
}

.pure-button-success:hover {
  background-color: #FF5934;
}

.pure-button-active {
  background-color: #34ff6957;
}

.pure-button-xlarge {
  font-size: 115%;
}

/* Table */

.pure-table {
  border: none;
}

.pure-table>thead {
  background: inherit;
  color: inherit;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
}

.pure-table>tbody {
  text-align: center;
}

.pure-table-horizontal td,
.pure-table-horizontal th {
  border-bottom: 1px solid #103A52;
}

/* forms */

.pure-form {
  padding: 1em;
  margin: 0 1em;
  border-radius: 1em;
  border: 1px solid lightgray;
}

form>p {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.pure-form input[type="radio"] {
  margin-right: 1em;
}

.pure-form legend {
  color: #175772;
}

.pure-form fieldset {
  padding-top: 0;
}

.pure-form label {
  font-family: 'Barlow', 'Arial Narrow', sans-serif;
  text-transform: uppercase;
  font-size: smaller;
  margin-bottom: 0.4em;
  display: block;
}

/*Copied from http://tobiasahlin.com/spinkit/*/

.spinner {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  background-color: #103A52;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

.small-spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: auto;
  margin-top: 0;
  background-color: #103A52;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #103A52;
  font-family: 'Michroma', 'Arial Narrow', sans-serif;
  z-index: 1;
}

.navbar a {
  color: #fff;
}

nav.navbar.pure-menu.pure-menu-horizontal {
  padding: 0
}

a.pure-menu-link {
  padding: 1em;
  font-size: 14px;
}

ul.pure-menu-list.navbar-right {
  margin-right: 1em;
}

.pure-menu-active>.pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background: inherit;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.logo {
  max-width: 100%;
  max-height: 10em;
}

.logo-holder {
  height: 48px;
  float: left;
  margin-right: -2em;
  margin-left: -2.5em;
  overflow: hidden;
}

.logo-holder .logo {
  width: 120px;
  height: 24px;
  float: left;
  background-size: 35px 35px;
  -webkit-transform: rotateZ(35deg);
  -ms-transform: rotate(35deg);
  transform: rotateZ(60deg);
}

.header-logo {
  max-height: 1.4em;
  margin-top: 0.2em;
}

/* ---- */

/* ---- */

/* ---- */

.loader {
  padding: 1em;
  text-align: center;
  margin-top: 1em;
}

.loader label {
  text-transform: uppercase;
}

.chat-form>textarea {
  width: 100%;
  border: solid 1px #bbb;
  background: #ff593417;
  border-radius: 0;
  border-bottom-left-radius: 0.33em;
  border-bottom-right-radius: 0.33em;
}

.grey-border {
  border: solid 1px #bbb;
  border-radius: 0.33em;
}

.top {
  border-bottom: none;
  border-radius: 0;
  border-top-left-radius: 0.33em;
  border-top-right-radius: 0.33em;
}

ul.chat-list {
  padding-left: 0;
  padding-right: 0;
  margin: 0 0;
}

ul.chat-list>li {
  list-style: none;
  margin-top: 1em;
  padding: 1em;
  border: solid 1px #bbb;
}

ul.chat-list>li>time {
  font-size: smaller;
  color: #4e4e4e;
}

ul.chat-list>li>p {
  font-family: serif;
  color: #4e4e4e;
  line-height: 1.3;
}

.compose-button {
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  border-radius: 1.5em;
  padding: 0.8em 1em;
  box-shadow: 1px 1px 3px #505050;
}

.account-label {
  padding: 0.2em 0.45em 0.1em;
  margin-right: 0.5em;
  font-family: monospace;
  border: solid 1px #bbb
}

.settings-icon {
  max-height: 1.5em;
  float: right;
}

.label-upper {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  /* font-size: smaller; */
  color: #103a52;
  font-family: 'Barlow', sans-serif;
  color: #4e4e4e;
}

/* Detail pages */

.message-data {
  margin-top: 0.25em;
  margin-bottom: 1em;
  padding: 0 0.5em;
  border: solid 1px #ccc;
  border-radius: 0.33em;
  color: #444;
  background-color: #ddd;
  word-break: break-all;
  white-space: pre-wrap;
}

.message-data>p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.title {
  text-decoration: none;
  border-bottom: solid 3px #FF5934;
  color: #103A52;
}

.home h3 {
  margin-bottom: 0.25em;
}

.demo-description {
  margin-top: 0.25em;
  margin-left: 0.5em;
}

.inset {
  border: solid 1px lightgray;
  padding: 1em;
}